<div class="row" >
  <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
    <div id="intro-title" class="text-center" style="color: white; margin-top:100px; display: none;" >
      <%= render partial: "logo" %>
    </div>
    <h4 id="intro-projected-by" style="color: white;">
      제작 : Data.Journalism.Study
    </h4>
    <div style="display: table; height: 400px; overflow: hidden; width: 100%;">
      <div style="display: table-cell; vertical-align: middle;">
        <h4 id="intro-line-container" style="color: white;">
          <span id="intro-line"></span>
        </h4>
      </div>
    </div>

    <h4 id="intro-start" >
      <%= link_to "Start", root_path(), class: "btn btn-general btn-rect btn-rect" %>
    </h4>
  </div>
</div>

<div style="position: absolute; bottom: 50px; right: 50px;">
  <button class="btn btn-danger" id="stopControlSound" >
    <span class="glyphicon glyphicon-volume-off" aria-hidden="true" data-isOn="true"></span>
  </button>
</div>
