
 /*@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);*/
@import url('http://api.mobilis.co.kr/webfonts/v2/css/NanumBarunGothicWeb');

body {
padding-right: 0px !important;
}
.triangle-right {
  position:relative;
  padding:15px;
  margin:-1em 0 1em;
  color:#34495e;
  background:#eee; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background:-moz-linear-gradient(#2e88c4, #075698);
  background:-o-linear-gradient(#2e88c4, #075698);
  background:linear-gradient(#2e88c4, #075698);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}


/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-right.left {
  margin-left:7px;
  background:#eee;
}



/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right:after {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#eee transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}


/* Variant : left
------------------------------------------ */

.triangle-right.left:after {
  top:16px;
  left:-19px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:15px 20px 0 0; /* vary these values to change the angle of the vertex */
  border-color:transparent #eee;
}


#prismy-comment-form{
  display:none;
}

.nanum-font{
  font-family:  'NanumBarunGothicWeb', 'Nanum Barun Gothic', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing : subpixel-antialiased;
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}
.dialogue-font{
  font-size:16px;
  line-height: 28px;
  font-style: normal;
}

.main-message{
  color: #34495e;
  font-size:60px;
}
 .header--thin{
  min-height: 158px;
 }
.logo {
  float: none;
}
.logo img {
    width: initial;
    height: initial;
    max-height: 120px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.djlogo {
    width: initial;
    height: initial;
    max-height: 220px;
    margin-top: 100px;
}
#last_progress_img{
    display: none;
}
#prismy_main_logo{
    display: none;
}
.progress_img{

    width: initial;
    height: initial;
    max-height: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.icon_img{
    width: initial;
    height: initial;
    max-width: 100%;
    max-height: 100%;
}
#page-container{
  padding: 0;
}
#userActions{
  height: 100px;
}

.interviewee_name{
  margin-top: 10px;
}

.response_paragraph{

}

.list_img{
    width: initial;
    height: initial;
    max-width: 4%;
    margin-right: 10px;
}

.custom_comment{
  margin-left: 10px;
  margin-bottom: 25px;
}
.post_comment {
  float: left;
  width: 50%;
  padding: 0px 15px;
  margin-bottom: 30px;
}

.next-indicator{
  display: none;
}

@media(max-width:480px){
.post_comment {
  float: left;
  width: 100%;
  padding: 0px 15px;
  margin-bottom: 30px;
}
}
@media (max-width: 768px) {
.progress_img{
      width: initial;
    height: initial;
    max-height: 13px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.dialogue-font{
  font-size:14px;
  line-height: 14px;
  font-style: normal;
}
.logo img {
    width: initial;
    height: initial;
    max-height: 70px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.header--thin{
  min-height: 110px;
 }
.main-message{
  color: #34495e;
  font-size:30px;
  line-height: 40px;
}

#userActions{
  height: inherit;
  }
}

.admin-nav{
  margin: 15px 0 0 0;
}
.tooltip{
  min-width: 150px;
}
