<!doctype html>
<div class="wrapper" id="top">
  <section class="container">
    <div class="post post--full">
      <h2 class="block-title">PRISMY 프로젝트에 대해</h2>
      <div class="row">
<div class="col-md-10 col-md-offset-1 col-xs-12">
<p>
2015년 6월 26일, 미국 연방 대법원은 동성 결혼이 합헌이라는 결정을 내렸습니다.<br>
하지만 우리에게는 아직 꽤나 막연하게 느껴지는, 말 그대로 바다 건너 먼 나라의 이야기일지도 모릅니다.
</p>

<p>
비교적 최근까지만 해도 성소수자 문제는 한국에서는 “우리와 상관없는” 다른 서구권 국가의 이야기로만 치부되었습니다.<br>
하지만 우리는 지금까지 우리와 “상관없다”며 그들의 이야기를 들으려는 생각조차 못 하고 있었던 것 아니었을까요?
</p>

<p>
TV에는 홍석천이 나오고, 김조광수 감독의 영화에 대해서 들어본 적은 있지만<br>
정말 주변에 있는 친구의, 가족의 이야기는 들어본 적이 없으니까요.<br>
"내 주변에는 없는" 특별하고 흔치않 사람들 얘기겠거니 하고 더 이상 생각하기를 멈춘건지도 모르겠습니다.<br>
</p>

<p>
프리즈미는 그렇게 특별하고 특이하지 않은, 우리 주변의 성소수자의 이야기를 같이 들었으면 해서 시작하게 된 프로젝트입니다.<br>
성소수자 분들과 인터뷰를 하고, 인터뷰 내용을 정리해서 상호 작용이 가능한 형태로 재구성했습니.<br>
</p>

<p>
프리즈미에서는 당신에게 “당장 성소수자 결혼을 지지해!” 라든지 특정 의견을 강요하지 않으려 노력했습니다.<br>
그들이 우리 주변에 자연스레 존재하는 또 다른 우리인 것처럼, 친구인 것처럼, 가족인 것처럼,<br>그냥 우리 중 한 사람의 이야기를 들어보는 기회를 가졌으면 합니다.<br>
</p>

<p>
저희는 많은 분을 인터뷰하지도 못했고, 인터뷰에 응해주신 분들도 대부분 서울 소재 대학의 대학생들입니다.<br>
당연하게도 이 인터뷰들의 내용이 한국 전반의 성소수자들의 목소리를 대변하고 있다고 말할 수 없습니다.<br>
다만 당신이 알고 있는 어떤 대학생 중 한 명과 이야기한다는 느낌이 들면 좋을 것 같습니다.<br>
</p>

<p>
“성소수자” XX 씨의 이야기를 듣는 것이 아니라<br>
우리 주변의 한 사람, 한 명의 친구, 한 명의 가족과 대화를 하는 그런 느낄 수 있었으면 합니다.
</p>
<p>
PRISMY 프로젝트 팀 드림.
</p>
        </div><!-- end col-->
      </div><!-- end row-->

    </div>
  </section>

  <!-- Colored divider -->
  <div class="divider-color bottom-space"></div>
  <div class="top-scroll"><i class="fa fa-angle-up"></i></div>
</div>
