<!doctype html>


<div class="wrapper" id="top">


  <section class="container">


    <%= render partial: "comments", locals: {comment: @comment, comments: @comments} %>

  </section>



  <div class="top-scroll"><i class="fa fa-angle-up"></i></div>

</div>


