<!doctype html>

<div class="wrapper" id="top">

  <section class="container">


    <%= render partial: "comments", locals: {comment: @comment, comments: @comments} %>

  </section>

  <!-- Colored divider -->
  <div class="divider-color bottom-space"></div>

  <div class="top-scroll"><i class="fa fa-angle-up"></i></div>

</div>
