<!doctype html>

<div class="wrapper" id="top">

  <section class="container">
    <div class="post post--full">
      <h2 class="block-title" id="comment-start">대화 정리</h2>
      <div class="row">
        <div class="col-md-12">

          <div class="text-center">

            <p>여기에 뭔가 사용자가 즐거워 할만한 컨텐츠가 들어가야 좋을 것 같다. 하하

            </p>
            <ul class="list">
              <li><span>유익했는지 안했는지 pull을 하게 할까?</span></li>
              <li>내가 각 대화에서 어떤 선택을 했었는지 보여줄까?</li>
              <li>다른 사용자는 어떻게 생각했었는지 보여줄까?</li>
            </ul>
            <%= link_to  start_path(), class: "share__item btn btn-info btn--minimal-rect btn-lg-rect-bordered " do %>
              다른 이야기 계속 하기
            <% end %>

            <div class="share share--large share--full share-present">
              <a href="https://www.facebook.com/sharer/sharer.php?u=&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;" class="share__item share__item--facebook"><i class="fa fa-facebook"></i>Facebook</a>

            </div>
          </div>

        </div><!-- end col-->
      </div><!-- end row-->

    </div>

    <%= render partial: "comments", locals: {comment: @comment, comments: @comments} %>

  </section>

  <!-- Colored divider -->
  <div class="divider-color bottom-space"></div>

  <div class="top-scroll"><i class="fa fa-angle-up"></i></div>

</div>
