<div  class="row">
  <h1 class="col-sm-12 heading heading--start">대화상대를 골라주세요 :)</h1>

  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
    <div class="row">

  <% @tags.each do |tag| %>
  <article class="post post--table">
    <%= link_to dialogue_tag_path(tag), class: "image-container image-container--max post__link-area" do %>
      <%= image_tag image_path('photos/ellenpage.png') %>
    <% end %>

    <div class="post__detail">
      <%= link_to dialogue_tag_path(tag), class: "post__link" do %>
        <h3 class="post__heading"><%= tag.name %></h3>
        <% end %>
    </div>
  </article>

  <% end %>


</div><!-- end row -->
<div class="top-scroll"><i class="fa fa-angle-up"></i></div>


<div class="modal fade " id="modalExplain" aria-hidden="false" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">대화정도는... 괜찮잖아...</h4>
      </div>
      <div class="modal-body">
        <p>
        안녕! 나는 스피드웨건! 이 프로젝트에 대한 설명을 담당하고 있지. *_*! 다들 내 설명에 집중해줄래?
        </p>
        <p>
         지난 5월인가? 미국 연방법원에선 동성결혼에 대해 합법하다는 판결을 내렸다. 이를 축하하는 의미로 SNS상의 수많은 사람이 성 소수자를 의미하는 무지개색 프로필 사진을 띄우곤 하였다.우리는 한국의 SNS사용자들 또한 이 움직임에 동참하는 것을 보았지만 과연 어쩌구 저쩌구 진짜 뭐라고 써야 할지 썰을 못풀겠네...
        </p>
        <p>
         일단 그냥 시작해 보자.
        </p>
      </div>
      <div class="modal-footer ">
        <div class="text-center">
        <button type="button" class="btn btn-warning btn-lg-rect btn-rect" data-dismiss="modal" style="float: none;"><i class="fa fa-check"></i>시작하기</button>
        </div>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>