/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

 /*
 *= require "reset"
 *= require "bootstrap.min"
 *= require_tree "./allec/external"
 *= require_tree "./allec"
 *= require_tree .
 *= require_self
 */
 @import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

.nanum-font{
  font-family: 'Nanum Barun Gothic',sans-serif; 
  font-weight: 300;
  -webkit-font-smoothing : subpixel-antialiased;
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}
.main-message{
  color: #34495e; 
  font-size:60px;
}
 .header--thin{
  min-height: 158px;
 }
.logo {
  float: none;
}
.logo img {
    width: initial;
    height: initial;
    max-height: 120px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.djlogo {
    width: initial;
    height: initial;
    max-height: 220px;
    margin-top: 100px;
}

#page-container{
  padding: 0;
}
#userActions{
  height: 100px;
}
@media (max-width: 768px) {
.main-message{
  color: #34495e; 
  font-size:30px;
  line-height: 40px;
}

#userActions{
  height: inherit;
  }
}

.admin-nav{
  margin: 15px 0 0 0;
}