/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

 /*
 *= require "reset"
 *= require "bootstrap.min"
 *= require_tree "./allec/external"
 *= require_tree "./allec"
 *= require_tree .
 *= require_self
 */
 .header--thin{
  min-height: 148px;
 }
.logo {
  float: none;
}
.logo img {
    width: initial;
    height: initial;
    max-height: 120px;
    margin-top: 12px;
}

#page-container{
  padding: 0;
}
#userActions{
  height: 100px;
}
@media (max-width: 768px) {
#userActions{
  height: inherit;
  }
}