.main-row{

  padding : 10px 20px;
  vertical-align : middle;
  text-align: right;
  color:#34495e;
  font-weight: 800;
  font-style: italic;
}
.dark-row{
  background-color : #f5f5f5;
  padding : 10px 20px;

}
.light-row{
  background-color :#fcfcfc;
  padding : 10px 20px;

}
.answers{
  color:#737c85;
}
#dialogue-container{
  margin-bottom: 100px;
  display: none;
}

#userActions-container {

}

.nextLine{
  margin-right: 3px;
}

.talked{
  background: lightgrey;
}

.form-sequence{
  input{
    width: 80% !important;
  }
  max-width: 70px;
  width: 20%;
}
.form-content{
  textarea{
    width: 90% !important;

  }

  width: 60%;
}
.form-response{
  textarea{
    width: 80% !important;

  }

  width: 40%;
}

.choices-container{
  margin: 15px 0 15px 30px;

}
.prsimy-blockquote{
  font-style: italic;
  margin: 0;
}
.prismy-modal-content{
  padding-top: 70px;

}

@media (max-width: 768px) {
  .answers{
  font-size:14px;
  color:#737c85;
}
}

.prismy-vertical-align-top{
  vertical-align: top !important;
}

.prismy-numfield{
  vertical-align: top;
  height: 30px;
  border: 0px solid;
}

.prismy-textarea{
  height: 60px;
  border: 0px solid;
}

.prsimy-blockquote{
  font-style: italic;
  font-size:11px;
  margin: 0;
}

.prsimy-blockquote-button{
  padding: 6px 17px 7px !important;
}

.font-success{
  color: #81b536;
}
.font-danger{
  color: #fe8f8c;
}
.font-general{
  color: #4886c5;
}
.font-primary{
  color: #34495e;
}
#prismy-sm-logo{
  max-width: 40px;
  display: none;
}
.prismy-header--thin{
  min-height: 80px !important;
}

.prismy-modal-choices{
  background-color : #34495e;
  border-radius : 2px;
  color: white;
  font-family: 'Nanum Barun Gothic', sans-serif;
}
.prismy-modal-choice-title{
  font-size:16px;
  font-weight:500;
  font-style:italic;
}
.prismy-modal-choice-content{
  font-size:12px;
}
@media (max-width: 480px) {
.prismy-modal-title{
  font-size: 15px;
}
.prismy-modal-sub-title{
  font-size: 14px;
}
.prismy-modal-content{
  padding-top: 170px;
  font-size: 12px;
  line-height: 22px;
}
}