#dialogue-container{
  margin-bottom: 100px;
}

#userActions-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
}

.nextLine{
  margin-right: 3px;
}

.talked{
  background: lightgrey;
}

.form-sequence{
  input{
    width: 80% !important;
  }
  max-width: 70px;
  width: 20%;
}
.form-content{
  textarea{
    width: 90% !important;

  }

  width: 60%;
}
.form-response{
  textarea{
    width: 80% !important;

  }

  width: 40%;
}

.choices-container{
  margin: 15px 0 15px 30px;

}