<div class="admin-nav">
  <%= link_to "List by Interviewee", interviewees_path(), class: "btn btn-info btn-rect btn-rect" %>
  <%= link_to "List by Tag", tags_path(), class: "btn btn-success btn-rect btn-rect" %>
  <%= link_to "List by Subject", subjects_path(), class: "btn btn-general btn-rect btn-rect" %>
</div>