<div class="admin-nav">
  <%= link_to "Interviewee", interviewees_path(), class: "btn btn-info btn-rect btn-rect" %>
  <%= link_to "Tag", tags_path(), class: "btn btn-success btn-rect btn-rect" %>
  <%= link_to "Subject", subjects_path(), class: "btn btn-general btn-rect btn-rect" %>
</div>